{% extends "layouts/main-authorized.twig" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="email">Email: <input id="email" name="email" type="email"></label><br>
        <button type="submit">Change Password</button>
    </form>
{% endblock %}