{% extends "layouts/main-authorized.twig" %}

{% block title %}
    Store Password
{% endblock %}

{% block content %}
    <div class="form-group">
        <form action="" method="post" id="frmConfirm">
            <label for="newPassword">New Password:
                <input id="newPassword" name="newPassword" type="password"></label><br>
            <label for="newPasswordConfirm">Confirm Password:
                <input id="newPasswordConfirm" type="password"></label><br>
            <button id="btnSubmit" type="submit">Change Password</button>
        </form>
    </div>
    <script>
        let password = document.getElementById("newPassword")
            , confirm_password = document.getElementById("newPasswordConfirm");

        function validatePassword(){
            if(password.value !== confirm_password.value) {
                confirm_password.style.color = "red";
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.style.color = "green";
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}
